.about{
    margin: auto;
    width: 80%;
    color: white;
    margin-top: 1.4em;
    font-size: 0.8rem;
    font-weight: 300;

}
.about-data{
    font-size:0.6rem;
    margin: auto;
    width: 80%;
    font-weight: 100;
    color: rgb(204, 204, 204);
    margin-top: 0.4em;
    line-height: 0.8rem;
}