
img{
    max-width: 100%;    
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.name{
    margin-top: 0.8em;
    font-weight: 700;
}
.profession{
    color: #faf3c9;
    font-size: 0.7rem;
    margin: 1.6em;
    margin-top: 0.125em;
    font-weight: 100;
}
.email{
    
    padding: 0.3em 6em ;
    color: rgb(19, 19, 19);
    border: none;
    border-radius: 0.2rem;
    margin: 0 auto;
    width: 80%;
    cursor: pointer;
    .email-icon{
        margin: 0 0.2em;
    }
    
}
